.navbar1 {
  background-color: #2980b9;
  padding: 10px;
}

.navbar1 .nav-item:hover {
  background-color: white;
}

.row1 {
  background-color: white;
  align-items: center;
  padding: 5px;
}

.row2 {
  background-color: #2980b9;
  align-items: center;
}

.column1 {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.column2 {
  text-align: right;
}

.form1 {
  margin-bottom: 20px;
}

.button1 {
  font-size: medium;
  background-color: transparent;
  border: none;
}

.button4 {
  width:6em;
  color: white;
  font-size: medium;
  border: none;
  background-color: transparent;
}

.button5 {
  color: white;
  font-size: medium;
  border: none;
  background-color: transparent;
}

.buttonSearch {
  border: none;
  position: relative;
  right: 30px;
  top: 12px;
  background-color: transparent;
}
.icon1 {
  font-size: x-large;
  color: white;
  vertical-align: middle;
}

.group1 {
  width: 100%;
}

.inputSearch {
  margin: 5px;
}

/* DROPDOWN */
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

