.box {
  padding: 20px;
  margin-top: 100px;
  background-color: rgb(234, 234, 234);
}

.column1 {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.column2 {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: right;
}

.form1 {
  margin-bottom: 20px;
}

.button1 {
  width: 30%;
  color: white;
}

hr {
  margin-bottom: 0px;
}

h2 {
  color: #0dcaf0;
}

.icon1 {
  font-size: xx-large;
  color: #0dcaf0;
  margin-right: 15px;
}
